<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django tutorial</title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>
    <div class="main-container">
        <div class="blur-circle1">

        </div>
        <div class="blur-circle2">

        </div>
        <!-- Start Landing Page -->
        <div class="landing-page">
            <header>
                <div class="container">
                    <a href="#" class="logo">Blog <b>APTX</b></a>
                    <ul class="links">
                        <li>Home</li>
                        <li><a href="http://localhost:8000/polls">Poll</a></li>
                        <li><a href="http://localhost:8000/polls/about">About</a></li>
                        <li>Info</li>
                        <li>Get Started</li>
                    </ul>
                </div>
            </header>
            <div class="content">
                <div class="container">
                    <div class="info">
                        <h1>Looking For Inspiration</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam
                            nesciunt quidem iste, Repellendus odit nihil</p>
                        <button onclick="redirectToAdmin()">Go admin page </button>
                    </div>
                    <div class="image">
                        <img class="main-image"
                            src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Landing Page -->
    </div>
</body>
    <script>
        function redirectToAdmin(){
            // window.location.href = "http://localhost:8000/admin";
            window.location.replace("http://localhost:8000/admin")
        }
    </script>
</html>